<p>Contact Us</p>

<table class="table">
    <thead class="thead-dark">
        <th scope="col">Roll No</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Gender</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts">
            <td scope="row">{{contact.id}}</td>
            <td scope="row">{{contact.name}}</td>
            <td scope="row">{{contact.address}}</td>
            <td scope="row">{{contact.gender}}</td>
            <td><button class="btn btn-primary" [routerLink]="['/contact', contact.id]">Details</button></td>
        </tr>
    </tbody>
</table>